<div class="d-flex flex-column p-3 bg-white shadow h-100">
  <a routerLink="/" class="text-decoration-none mb-4">
    <span class="fs-4 fw-bold text-primary">🏨 HOTELSITO</span>
  </a>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">
        <i class="bi bi-house-door me-2"></i>Inicio
      </a>
    </li>
    <li>
      <a routerLink="/reservas" routerLinkActive="active" class="nav-link">
        <i class="bi bi-calendar-check me-2"></i>Reservas
      </a>
    </li>
    <li>
      <a routerLink="/habitaciones" routerLinkActive="active" class="nav-link">
        <i class="bi bi-door-open me-2"></i>Habitaciones
      </a>
    </li>
    <li>
      <a routerLink="/huespedes" routerLinkActive="active" class="nav-link">
        <i class="bi bi-people me-2"></i>Huéspedes
      </a>
    </li>
    <li>
      <a routerLink="/tipos-habitacion" routerLinkActive="active" class="nav-link">
        <i class="bi bi-tags me-2"></i>Tipos de Habitación
      </a>
    </li>
  </ul>
  <div class="mt-auto small text-muted text-center">v1.0</div>
</div>